.encre{
	border: 2px solid black ;
	margin : 10px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	padding-right: 10px;
	padding-left: 30	px;
	background-color: white;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	height: 50%;


}
header{
	display: grid;
	grid-template-columns: 80% 20%;

}

.box{
	border: 2px solid black ;
	margin : 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;

	 

}

.nav{
		border: 2px solid black ;
	margin : 10px;
	background-color: white;	
	display: flex;
	float: right;
	 width: 20%;
    height: 610px;


}

.main{
	border: 2px solid black ;
	margin : 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	width: 97.7%;

}


html {background-color: grey}

